<footer>
    <div class="footer-top">
        <div class="logo-text">
            <div class="logo-img">
               <a href="/home"> <img src="/assets/images/foot-logo.png" alt=""></a>
            </div>
           
        </div>
        <div class="menu menu-1">
            <ul>
                <li><a href="/about-us"> About Us</a></li>
                <li><a > FAQs</a></li>
                <li><a href="/policies"> House Rules</a></li>
               
            </ul>
        </div>
        <div class="menu menu-2">
            <ul>
                <li><a href="/contact-us"> Contact Us</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms-of-use"> Terms & Conditions</a></li>
               
            </ul>
        </div>
        <div class="menu menu-3">
            <ul>
                <li><a > Partner With Us</a></li>
                <li><a href="/cookie-policy"> Cookie Policy</a></li>
                <li><a > Sitemap</a></li>
               
            </ul>
        </div>
        <!-- <div class="menu menu-4">
            <ul>
                <li><a href=""> Partner with us</a></li>
                <li><a href=""> Cookie policy</a></li>
            </ul>
        </div> -->
    </div>

    <div class="footer-bottom">
        <div class="social-icons rights">
            <div class="icons">
              <a href=""><i class="fa-brands fa-facebook"></i></a> 
              <a href=""><i class="fa-brands fa-instagram"></i></a> 
              <a href=""><i class="fa-brands fa-linkedin"></i></a> 
            </div>

            <div class="rights">
              <p>© 2024 IRA Hospitality. All rights reserved. Designed and developed by Shashi sales and marketing.</p>
          </div>

          </div>
    </div>
   
</footer>

<div class="res-foot">
    <a href="/home" class="fi f-i-1">
        <i class="fa-solid fa-house"></i>
        <p>HOME</p>
    </a>
    <!-- <a  class="fi f-i-2">
        <i class="fa-solid fa-magnifying-glass"></i>
        <p>SEARCH</p>
    </a> -->
    <a href="/contact-us" class="fi f-i-3">
        <i class="fa-solid fa-question"></i>
        <p>HELP</p>
    </a>
   <% if (authenticated) {%>
     <a href="/profile" class="fi f-i-4">
        <i class="fa-regular fa-user"></i>
        <p>PROFILE</p>
    </a>
  <% } %> 
   <% if (!authenticated) {%>
     <a href="/login" class="fi f-i-4">
        <i class="fa-regular fa-user"></i>
        <p>PROFILE</p>
    </a>
  <% } %> 
    <a href="/policies" class="fi f-i-5">
        <i class="fa-solid fa-file"></i>
        <p>RULES</p>
    </a>
</div>