<% layout("/layouts/boilerplate") %>


<div class="main-page">
    <div class="ab-page1">
        <h2>About</h2>
        <h2>IRA STUDENT LIVING</h2>
        <p>At Ira  student living , we're more than just a place to live – we're a community dedicated to providing students with a comfortable, supportive, and enriching environment during their college years.</p>
    </div>
    
    
    <div class="ab-page2">
        <div class="left">
            <h3  class="sa">OUR MISSION</h3>
            <p class="sp">Our mission at [Name of Student Living Place] is to create a vibrant and inclusive community where students can thrive academically, socially, and personally. We strive to offer more than just housing; we aim to provide a home away from home where students feel safe, supported, and inspired to pursue their goals.</p>
        </div>
        <div class="right">
            <img src="/assets/images/mission.png" alt="">
        </div>
    </div>
    
    <h3 class="sa" style="padding-inline:5vw ; margin-bottom: 2rem; text-transform: uppercase;">What Sets Us Apart</h3>
    <div class="services why-choose-us ab-page3">

        <div class="item why-choose-us-1">
            <div class="s-i-im">
                <!-- <img class="first-img" src="/assets/images/Group-A.png" alt=""> -->
                <img  src="/assets/images/loc.png" alt="">
            </div>
            <h3>Prime Location</h3>
            <p >our residence offers unparalleled convenience with easy access to campus facilities, dining options, entertainment venues, and public transportation. .</p>
        </div>
        <div class="item why-choose-us-2">
            <div class="s-i-im">
                <!-- <img class="first-img" src="/assets/images/Group-B.png" alt=""> -->
                <img  src="/assets/images/ab-3.png" alt="">
            </div>
            <h3>Modern Amenities</h3>
            <p >Enjoy high-speed internet, laundry facilities, communal spaces, and more – all designed with students' needs in mind.</p>
        </div>
        <div class="item why-choose-us-3">
            <div class="s-i-im">
                <!-- <img class="first-img" src="/assets/images/Group-C.png" alt=""> -->
                <img  src="/assets/images/ab-2.png" alt="">
            </div>
            <h3>Community Atmosphere</h3>
            <p >What truly sets us apart is our vibrant community atmosphere. From the moment you step through our doors.</p>
        </div>
       
    </div>
    
    
    <hr>
    <div class="ab-page4">
        <div class="left">
            <img src="/assets/images/community.png" alt="">
        </div>
        <div class="right">
            <h3 class="sa">JOIN OUR COMMUNITY</h3>
            <p class="sp">Ready to experience the ultimate student living experience? Contact us today to schedule a tour or learn more about our available accommodations. Join the ira Student Living Place community and discover why so many students choose to call us home during their college years.</p>
        </div>
       
    </div>
    <hr>
    
    
    
    <section class="page5">
        <div class="cta-section">
            <div class="cta-img">
                <img src="/assets/images/home-vector.png" alt="">
            </div>
            <div class="cta-text">
                <h2>GET IN TOUCH</h2>
                <p>Our top-tier homes are renting rapidly. Connect with us personally to secure yours.</p>
                <img src="/assets/images/Arrow 2.png" alt="">
            </div>
            <div class="cta-form">
                <h2>Get personally <span style="color: #E7991C;">connected with us</span></h2>
                <form action="/send-data" method="post">
                    <input type="text" name="name" id="name" placeholder="Name*">
                    <input type="number" name="numer" id="number" placeholder="+91 | Mobile number " class="no-spinner">
                    <input type="email" name="email" id="email" placeholder="Email*">
                    <select name="city" id="city">
                        <option value="Select city">Select city</option>
                        <option value="Noida">Noida</option>
                        <option value="Delhi">Delhi</option>
                    </select>
                    <select name="location" id="location">
                        <option value="Select Location">Select Location (optional)</option>
                        <option value="Noida">Noida</option>
                        <option value="Delhi">Delhi</option>
                    </select>
                    <select name="accommodation" id="accommodation">
                        <option value="Accommodation Type*">Accommodation Type</option>
                        <option value="Noida">AC</option>
                        <option value="Delhi">Non AC</option>
                    </select>
    
                    <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </section>


   
</div>