<% layout("/layouts/boilerplate") %>


    <style>
       
        .main-page{
            padding-inline: 5vw;
            padding-bottom: 5rem;
        }

        h1{
            text-align: center;
            font-style: 2vw;
            margin-bottom: 1.5rem;
        }
        h2{
            /* text-align: center; */
            font-style: 1.5vw;
            margin-block: 1rem;
        }

        ol{
            padding-inline: 1rem;
        }

        ol li{
            width: 100%;
           margin-bottom: .8rem;
           line-height: 1.5;
        }
        p{
            width: 100%;
           margin-bottom: .8rem;
           line-height: 1.5;
        }
        
    </style>

    <div class="main-page">
        <h1>Room Rules</h1>
    <ol>
        <li>Do not write/Paste/put nails or deface any of the surfaces like walls or furniture. If you need to put anything on the walls like maps, Motivational Quotes, etc - please let the management know. You will be provided with a special tape that does not spoil surfaces. Any walls/Furniture which is spoilt, the cost of repairs and maintenance will be borne by the tenant.</li>
        <li>Please maintain silence in the premises. Do not talk loudly on the phone or play loud music that disturbs your fellow housemates.</li>
        <li>Smoking/Drinking/ Vaping/Indulging in Drugs/Substance abuse anywhere in the building premises is not permitted.</li>
        <li>Cooking of any kind is not permitted inside the room. Please make use of the kitchen located on the Ground Floor. The kitchen is equipped with Refrigerator, Induction, Microwave and Water Purifier. Personal electric Kettles can be used in the kitchen only and not in the rooms.</li>
        <li>Do not use incense sticks (Dhoop/Agarbatti) inside the room or anywhere in the premises. It can cause fire.</li>
        <li>Maintain Cleanliness in and around the room. If you need help with cleaning your room (Fans/windows/Blinds/Curtains) - please put a cleaning request on 9911572722. (Once a week) If the rooms are found to be in a condition spoilt due to any of the above mentioned reasons, a fine of Rs.5000 will be imposed. If the complaints arise repeatedly, you will be asked to vacate the premises on an immediate basis and security amount will be forfeited.</li>
    </ol>

    <h1>House Rules</h1>
    <h2>Property Access & Security</h2>
    <ol>
        <li>Room keys are for individual use only and must not be shared with other residents or non-residents under any circumstances.</li>
        <li>When leaving the room, please lock all doors and windows.</li>
        <li>Incase of loss of key, a new key shall be issues on chargeable basis.</li>
        <li>The room is for tenant use only. Visitors are not allowed inside the premises.</li>
        <li>Inform the management of any suspicious person or behaviour by any individual.</li>
        <li>Gambling is not permitted at the property.</li>
        <li>The possession of weapons or firearms (knives, swords, guns, tasers, batons, daggers, rifles, guns, knuckles) is strictly prohibited.</li>
    </ol>

    <h2>Bathroom Etiquette</h2>
    <ol>
        <li>Close all taps, lights, geysers etc after use.</li>
        <li>Use water conservatively.</li>
        <li>Flush the toilet after use and clean the toilet seat if necessary.</li>
        <li>Inform the management of any leakages or anything out of order.</li>
        <li>Use a wiper to wipe off water after shower.</li>
    </ol>

    <h2>Garbage Disposal</h2>
    <ol>
        <li>Dispose all leftover food properly after sealing the packets to avoid spillage, foul smell and pests. Please do not dispose open packets in the bin.</li>
        <li>Do not throw the garbage outside the room, on top or near the dustbins. Garbage is to be disposed only INSIDE the dustbin.</li>
        <li>Do not throw garbage from the windows or rooftops.</li>
        <li>Use proper garbage bags for disposal of waste. It is advisable to buy garbage bags and make optimal use of them.</li>
    </ol>

    <h2>Clothes Drying</h2>
    <ol>
        <li>Do not use building railings to dry off your clothes. Please dry your clothes in the room or on the terrace.</li>
        <li>You are required to buy your own drying wire or share it with fellow tenants at your own sweet will and understanding.</li>
        <li>Use of cloth pegs is advised to keep your clothes safe from winds.</li>
    </ol>

    <h2>Complimentary Services</h2>
    <p>Services like Wifi, RO water, Room Cleaning, Kitchen Area are provided to make your stay more pleasant and are not part of your rent. While we try that everything is provided and works seamlessly, though in case of any disruption in any of the services mentioned above, can’t be adjusted or claimed from the rent.</p>

    <h2>Internet Usage</h2>
    <p>Internet provision is not 100% guaranteed. If it is imperative to your life, we would encourage you to purchase/use your own. Internet must be used fairly. (NO Netflix, amazon prime, or high data video streaming or usage activities permitted)</p>

    <h2>Kitchen Usage</h2>
    <ol>
        <li>Use the kitchen area to reheat or cook your meals. Eating there is not allowed.</li>
        <li>Dispose all material in the kitchen dustbin. Make sure you don’t choke the sink. Clean the utensils after use.</li>
        <li>Do not put steel containers, spoons or plates in the microwave. Use only microwave safe utensils and bowls.</li>
        <li>Incase of any defect/leakage/spillage in the kitchen premises please inform management.</li>
        <li>Do not use drinking water to wash hands or utensils.</li>
        <li>Maintain cleanliness all the time.</li>
    </ol>

    <h1>Room Vacating Rules</h1>
    <p>We understand that this will not be your permanent residence and at some point you will be vacating the room. Please keep the following points in mind for the same.</p>
    <ol>
        <li>Your minimum stay needs to be 6 months* (refer your tenant information form). Failure to finish your minimum tenure/lockin period will result in your security amount getting forfeited 100%.</li>
        <li>Please inform the management 1 month in advance (30 days) for vacating the room. (after completion of lock-in period of 6 (six) months, This will be treated as your notice period.</li>
        <li>Incase of any damages to the room or the property, the charges of the same will be borne by you.</li>
        <li>Please remove all personal belongings from the property as any items left by you after your departure will be deemed unwanted and will be disposed off.</li>
        <li>Please sign the ROOM LEAVING FORM before your departure. This will help the management in keeping your records up to date.</li>
    </ol>

    <h1>Security Deposit</h1>
    <ol>
        <li>To be deposited at the time of taking the room.</li>
        <li>It is not to be treated as advance rent.</li>
        <li>Incase of late payment of rent, a fine is imposed. Failure to pay the fine with the rent will result it getting cut from the security deposit automatically.</li>
        <li>Will be refunded after checking the room condition, minimum stay requirement, and serving of the notice period.</li>
        <li>Please provide us 3 to 6 working days to process the refund post your departure.</li>
    </ol>

    <h1>Rent and Security During Lockdown</h1>
    <p>In the past two lockdowns, services at Ira Student Living worked as normal. A lot of tenants (students) chose to stay back in their rooms and avoided the risk of travelling during the Pandemic while a few did travel back home.</p>
    <p>Keeping in mind the uncertain times, if we do go through another lockdown in Delhi (Formally announced by the government) -</p>
    <p>Your rent and security will be treated as follows -</p>
    <p><strong>Situation 1:</strong> You choose to temporarily return to your hometown and will resume your stay post lockdown is eased in DELHI. You are expected to return within 10 days in such a situation. You will be charged 50% of your base rent till the lockdown is eased in Delhi. Your Security will NOT be refunded. If during this time, there’s a lockdown/travel restrictions in your state, we are not responsible for the same.</p>
    <p><strong>Situation 2:</strong> You choose to permanently return to your hometown. Your advance rent will be forfeited. Your Security will not be refunded, but can be adjusted if you re-occupy the room within 2 months of vacating the room.</p>
    <p><strong>Situation 3:</strong> Travel due to personal emergency during lockdown. Your advance Rent or Security amount will not be refunded.</p>





    </div>

  