


@import url('https://fonts.googleapis.com/css2?family=roboto&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main-page {
    width: 100%;
    position: relative;
    font-family: "roboto", sans-serif;
    position: relative;
}



a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

header {
    width: 100%;
    background-color: #fff;
    font-family: "roboto";
    
}

nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-inline: 5vw;
}

nav .logo {
    width: 8vw;
}
nav .logo img{
    width: 100%;
}

nav .cta {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 3vw;
    position: relative;
}

nav .cta .btn {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
}

nav .cta a {
    text-transform: uppercase;
    font-size: .9rem;
}



.explore {
    z-index: 999;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bold;
    position: relative; /* Add this line */
}

.know-more-menu {
    display: none;
    position: absolute; 
    top: 100%; 
    left: 0; 
    padding: 10px; 
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add this line */
    background-color: #fff;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
   
  
}


.page1 {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* padding-left: 5vw; */
}

.page1 .text {
    width: 50%;
    padding-left: 5vw;
}

.page1 .text h1 {
    color: #313131;
    font-size: 4vw;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    /* line-height: 1.5; */
}

.page1 .text h3 {
    color: #313131;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.page1 .text p {
    color: #858585;
    font-size: 1.5vw;

}

.page1 .image {
    width: 38%;
}

.page1 .image img {
    width: 100%;
}

.page1 .filter {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 5vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}


.filter .location-btn, .location-btn select {
    background-color: #E7991C;
    padding-inline: .6rem;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4px;
    border: none;
    font-size: 1rem;
}



.filter .form-filter {
    border-top: 1px solid #929292;
    border-bottom: 1px solid #929292;
    background-color: #f5f5f5;
    padding: .52rem 3vw;
    color: #7c7c7c;
    /* width: 35%; */
}

.filter .form-filter form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2vw;
}







.filter .search-btn {
    background-color: #E7991C;
    padding: .6rem .9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.page2 {
    width: 100%;
    padding-inline: 5vw;
    margin-top: 3rem;
}



.page2 .filter {
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* padding-left: 5vw; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}



.page2 .filter .form-filter {
    border: none;
}

.call-back-popup {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed; /* Change from absolute to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999;
  }
  
  .call-back-popup .visit {
    width: 400px;
    background-color: white; /* Add a background color to the popup content */
    padding: 20px; /* Add some padding for better spacing */
    border-radius: 5px; /* Add border radius for a rounded popup */
    position: relative;
  }

.close-popup{
    height: 20px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
   
    font-size: .8rem;
    font-weight: bolder;
    border: 2px solid #000;
    border-radius: 50%;
    
    color: #000;
    z-index: 999;
}



.card-board {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
    margin-top: 3rem;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
}

.card-board .card {
    width: 375px;
    scroll-snap-align: start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background-color: #f5f5f5;
    border: 2px solid #7c7c7c;
    padding: 5px;
}

.card-board .card .card-image {
    width: 100%;
    /* margin: 4px; */
  
}

.card-board .card .card-image img {
    width: 100%;
    border: 3px solid #E7991C;
}

.card-board .card .price-gender {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-inline: 1.5vw;
    gap: 1vw;
    margin-top: .5rem;
    margin-bottom: 1rem;

}

.price-gender .price a{
    font-size: 1vw;
    color: #2d2c2c;
}
.price-gender .price p{
    font-size: 1vw;
    color: #bcbcbc;
    font-weight: 600;
}
.price-gender .price p span{
    font-size: 1.3vw;
    color: #E7991C;
   
}

.price-gender .gender{
    border: 2px solid #E7991C;
    border-radius: 20px;
    padding: .3vw 1.2vw;
}

.card-text{
    width: 100%;
}

.card-services{
    width: 100%;
}

.sr{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: space-between;
    padding-inline:1.5vw ;
    gap: 1vw;
    margin-bottom: 1rem;
}

.si{
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: flex-start;
    /* padding-inline:1.5vw ; */
    gap: .5vw;
    font-size: .9vw;
    font-weight: bold;
}



.card-board .card .card-text .cta-btns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* padding-inline: .8rem; */
    font-size: .8rem;
}

.card-board .card .card-text .cta-btns a:first-child {
    background-color: #E7991C;
    padding-inline: 1.3rem;
    padding-block: .5rem;
    border-radius: 5px;
    border: 1px solid #E7991C;
}

.card-board .card .card-text .cta-btns a:last-child {
    background-color: transparent;
    border: 1px solid #929292;
    padding-inline: 1.3rem;
    padding-block: .5rem;
    border-radius: 5px;
}

.page3,
.page5 {
    width: 100%;
    margin-top: 3rem;
}

.page3 h2 {
    padding-inline: 5vw;
}

.amenities {
    width: 100%;
    background-color: #FDFAEF;
    padding-block: 2.2rem;
    padding-inline: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.services {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
}
.why-choose-us{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.services .item {
    width: 23%; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .5rem;
    text-align: center;
}

.first-img{
    display: none;
}



.services .item h3 {
    color: #E7991C;
}

.services .item p {
    color: #929292;
}

.why-choose-us .item{
    width: 30%;
}

.page4 {
    width: 100%;
    padding-inline: 5vw;
    margin-top: 3rem;
}

.page4 .main-head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    /* font-size: 1.5vw; */
}
.main-head img{
    width:25%;
    
}

.special{
    margin-top: -8px;
}


.extra-service {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 3rem;
    text-align: center;
    gap: 2vw;
}
.extra-service img{
    width: 18%;
}

.service-text {
    width: 30%;
    background-color: #FDFAEF;
    /* padding-inline: 4rem; */
    padding-block: 1.4rem;
}

.service-text h3 {
    color: #E7991C;
}

.service-text p {
    color: #929292;
}

.cta-section {
    background-color: #FDFAEF;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2rem;
    padding-inline: 5vw;
    padding-block: 1rem;
}

.cta-img{
    width: 25%;
}

.cta-img img{
    width: 100%;
}

.cta-text {
    width: 25%;
}

.cta-form {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    padding: 1rem;
}
.p2 .book-now-form{
    width: 400px;
    background-color: white;
    padding: 2rem;
    position: relative;
}

.cta-form form , .p2 form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .5rem;

}

.cta-form form input,
select , .p2 form input,
select{
    width: 100%;
    padding-inline: 1rem;
    padding-block: .5rem;
    border: 1px solid #929292;
}
.cta-form form input[type ="submit"], .p2 form input[type ="submit"] {
   background-color: #E7991C;
   border: none;
   text-transform: uppercase;
}





/* Hide the spinner */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




footer {
    width: 100%;
    padding-inline: 5vw;
    background-color: #232728;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    padding-block: 4vw;
}

footer ul li {
    list-style-type: none;
}

footer a {
    color: white;
}

.footer-top,
.footer-bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
}

.footer-top .logo-text {
    width: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
}

.logo-text img{
    width: 100%;
}

.logo-text .logo-img{
    width: 100%;
}

.footer-top .logo-text .social-icons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
    font-size: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-top .menu {
    width: 18%;

}

.footer-top .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.2rem;

}

.footer-bottom{
    padding-left: 5.5rem;
}


.footer-bottom .rights {
    width: 50%;
    margin-top: -3rem;

}

.footer-bottom  {
    justify-content: flex-end;
}
.footer-bottom p {
    font-size: .9rem;
}


.res-foot{
    width: 100%;
    padding-inline: 10vw;
    padding-block: .3rem;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1vw;
    color: #313131;
    position: fixed;
    bottom: 0;
    margin-top: 2rem;
    background-color: #fff;
    z-index: 999;
}

.fi{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .3rem;
}
.fi i{
    font-size: 1.5rem;
    color: #E7991C;
}
.fi p{
    font-size: .8rem;
}



/* TEnant INfo */

.info {
    background-color: #FDFAEF;
    /* padding-inline: 5vw; */
}

.info .top-head {
    color: #929292;
    font-family: "roboto", sans-serif;
    padding-block: 2rem;
    text-align: center;
}

.info-nav {
    -webkit-box-shadow: 0px 4px 4px -1px rgba(56,56,56,0.69);
box-shadow: 0px 4px 4px -1px rgba(56,56,56,0.69);
}







/* contact - page code */

.only-head{
    margin-block: 3rem;
    text-align: center;
}

.contact-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5vw;
    gap: 1.5rem;
    
}

.contact-box{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.box-img{
    width: 25%;
}
.box-img img{
    width: 70px;
}

.box-text{
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5rem;
}

.box-text h4{
    color: #E7991C;
   
}
.box-text p, .box-text p a {
    color: #929292;
   
}

